*serviceAccountKey.jon

# Node modules
node_modules/

# Env files
.env
.env.local

# Logs
logs/
*.log

# TypeScript cache
*.tsbuildinfo

# Jest cache
.jest/
.vscode-test/

# Coverage
coverage/
.nyc_output

# Seed files
seed.js
mock.js

# Prisma 
node_modules/@prisma/client
generated/
generated/prisma/
.prisma/

# Key
serviceAccountKey.json