.groupCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--black-500);
  border-radius: 4px 24px 24px 4px;
  padding: 57px 40px;
  color: var(--gray-50);
  position: relative;
  overflow: hidden;
}

.groupCard::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 100%;
  background-color: var(--black-300);
  border: 1px solid var(--black-200);
}

.groupImage {
  width: 93px;
  height: 60px;
  object-fit: cover;
}

.groupName {
  font-size: 32px;
  font-weight: 700;
  color: var(--gray-50);
  text-decoration: none;
  width: 100%;
  max-width: 384px;
  height: 34px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.groupOwner {
  font-size: 16px;
  color: var(--gray-50);
}

.participantCount {
  display: flex;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 10px 12px;
  background-color: #333;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
}

.groupMeta {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
  gap: 12px;
}

.counts {
  display: flex;
  gap: 8px;
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.likeCount,
.recordCount {
  display: flex;
  align-items: center;
  gap: 4px;
}
